@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  @apply container mx-auto px-3 md:px-10;
}

.font-sans-serif {
  font-family: sans-serif;
}

.css-319lph-ValueContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* notification toggler */
.toggle-bg:after {
  content: '';
  @apply absolute top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
}

.toggleInput:checked + .toggle-bg:after {
  transform: translateX(100%);
  @apply border-white;
}

.toggleInput:checked + .toggle-bg {
  @apply bg-primary border-primary;
}
