@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  @apply container mx-auto px-3 md:px-10;
}

.font-sans-serif {
  font-family: sans-serif;
}

.css-319lph-ValueContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
